<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		<a href="http://www.miitbeian.gov.cn">豫ICP备17013970号-1</a> | Copyright &copy daozzg.com 保留所有权利。<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
      	
    </div>
  </div>
</footer>